InvMe!/InvMe_.UWP/Connected Services/ServiceReference1/DatabaseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://invmewcf.azurewebsites.net/DatabaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" />
  <xs:element name="InsertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="events" nillable="true" type="q2:Events" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEventsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="friends" nillable="true" type="q3:Friends" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFriendsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHashtagsM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="hashtags" nillable="true" type="q4:HashtagsM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHashtagsMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertHashtagsMResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAttended">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="attended" nillable="true" type="q5:Attended" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAttendedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAttendedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="user" nillable="true" type="q6:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="events" nillable="true" type="q7:Events" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHashtag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="hastag" nillable="true" type="q8:HashtagsM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHashtagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteHashtagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="friend" nillable="true" type="q9:Friends" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFriendResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttended">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="attend" nillable="true" type="q10:Attended" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttendedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAttendedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="user" nillable="true" type="q11:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="events" nillable="true" type="q12:Events" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHashtag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="hastag" nillable="true" type="q13:HashtagsM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHashtagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHashtagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="friend" nillable="true" type="q14:Friends" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFriendResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="GetUserResult" nillable="true" type="q15:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="GetEventResult" nillable="true" type="q16:ArrayOfEvents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashtag">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashtagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="GetHashtagResult" nillable="true" type="q17:ArrayOfHashtagsM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriend">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="GetFriendResult" nillable="true" type="q18:ArrayOfFriends" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttended">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="GetAttendedResult" nillable="true" type="q19:ArrayOfAttended" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="GetUserByIDResult" nillable="true" type="q20:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEMAIL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEMAILResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="GetUserByEMAILResult" nillable="true" type="q21:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="GetEventByIDResult" nillable="true" type="q22:Events" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashtagByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashtagByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="GetHashtagByIDResult" nillable="true" type="q23:HashtagsM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="GetFriendByIDResult" nillable="true" type="q24:Friends" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendedByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendedByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="GetAttendedByIDResult" nillable="true" type="q25:ArrayOfAttended" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendedByEventID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendedByEventIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/InvMe.DAL.Model" minOccurs="0" name="GetAttendedByEventIDResult" nillable="true" type="q26:ArrayOfAttended" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>